<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}"></h1>

<nav th:replace = "fragments :: navigation"> </nav>

<form method="post" class="w-50" th:object="${order}">
    <div class="form-group">
        <label th:for="name">Name</label>
    <input class="form-control" placeholder="Enter an order name" th:field="*{name}"/>
    <span th:errors="*{name}" class="alert-danger"></span>
    </div>

    <input type="submit" value="Create Order"/>
</form>

</body>
</html>