<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace = "fragments :: head"></head>

<body class="container">

<h1 th:text="'Edit '+${title}"></h1>

<nav th:replace="fragments :: navigation"></nav>
<a th:href="'/order/'+${order.id}+'/add-item/'">Add item</a>

<table class="table">
    <tr>
        <th>Item</th>
        <th>Quantity</th>
    </tr>

    <tr th:each="orderItem : ${orderItems}">
        <td th:text="${orderItem.item.name}"></td>
        <td th:text="${orderItem.orderQty}"></td>
    </tr>
</table>

<p th:unless="${orderItems.size()}"><i>This order is empty. <a th:href="'/order/'+${order.id}+'/add-item/'">Add </a> an item to this order.</i></p>

</body>
</html>
