<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace = "fragments :: head"></head>

<body class="container">

<h1 th:text="'Edit '+${title}"></h1>

<nav th:replace="fragments :: navigation"></nav>
<a th:href="'/order/'+${order.id}+'/add-item/'">Add item</a>

<table class="table">
    <tr>
        <th>Item</th>
        <th>Quantity</th>
    </tr>

    <tr th:each="orderItem : ${orderItems}">
        <td th:text="${orderItem.item.name}"></td>
        <!--<td th:text="${orderItem.orderQty}"></td>-->
        <td>
            <form method="post" action="/order/update-item">
                <input th:name="orderItemQty" th:value="${orderItem.orderQty}"/>
                <input type="hidden" name="orderItemId" th:value="${orderItem.id}"/>
                <input type="hidden" name="orderId" th:value="${orderItem.order.id}"/>
                <input type="submit" value="Update"/>
            </form>
        </td>
        <td>
            <form method="post" action="/order/remove-item">
                <input type="hidden" name="orderItemId" th:value="${orderItem.id}"/>
                <input type="hidden" name="orderId" th:value="${orderItem.order.id}"/>
                <input type="submit" value="Remove"/>
            </form>
        </td>
    </tr>
</table>

<form th:if="${orderItems.size()}" method="post" action="/order/receive-order">
    <input type="hidden" name="orderId" th:value="${order.id}"/>
    <input type="submit" value="Add Order to Inventory"/>
</form>

<p th:unless="${orderItems.size()}"><i>This order is empty. <a th:href="'/order/'+${order.id}+'/add-item/'">Add </a> an item to this order.</i></p>

</body>
</html>
