<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head >
    <meta charset="UTF-8"/>
    <title th:text="${title}">Inventory Manager</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body class="container">

<h1 th:text="${title}">Inventory Manager</h1>

<nav>
    <a href="/inventory">Inventory</a> |
    <a href="/order">Order</a> |
    <a href="/add">Add</a>

</nav>

<ul>
    <li th:each="menu : ${menus}">
        <a th:href="'/menu/view/'+${menu.id}" th:text="${menu.name}"></a>
    </li>
</ul>
<a href="/menu/add">Add Menu</a>

</body>
</html>